<footer class="footer">
    <div class="footer__inner block-width">
        <div class="footer_top">
            <div class="logo">
                <a href="">
                    <svg width="192" height="63" viewBox="0 0 192 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_347_128)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 48.3871H9.52408V23.8756H40.5809V17.7013H9.52408H0V48.3871ZM51.3012 48.3871H60.1812V6.18823H51.3012V48.3871ZM67.7728 41.0522C67.7728 48.3871 74.1222 48.3871 80.4256 48.3871H103.247V43.6055H79.7815C78.2171 43.6055 76.6068 43.6055 76.6068 41.7022V34.0423H104.489V25.0826C104.489 17.7477 98.1395 17.7477 91.7901 17.7477H80.3796C74.0302 17.7477 67.7268 17.7477 67.7268 25.0826V41.0522H67.7728ZM76.6528 29.2143V24.4327C76.6528 22.5293 78.2171 22.5293 79.8275 22.5293H92.4802C94.0446 22.5293 95.6549 22.5293 95.6549 24.4327V29.2143H76.6528ZM138.122 29.8642L150.177 17.7013H140.055L129.932 27.9144L119.81 17.7013H109.688L121.743 29.8642H138.122ZM155.238 41.0522C155.238 48.3871 161.587 48.3871 167.891 48.3871H179.301C185.651 48.3871 192 48.3871 192 41.0522V25.0826C192 17.7477 185.651 17.7477 179.301 17.7477H167.937C161.587 17.7477 155.284 17.7477 155.284 25.0826V41.0522H155.238ZM164.118 41.7022V24.4327C164.118 22.5293 165.682 22.5293 167.293 22.5293H179.945C181.51 22.5293 183.12 22.5293 183.12 24.4327V41.7022C183.12 43.6055 181.556 43.6055 179.945 43.6055H167.293C165.728 43.6055 164.118 43.6055 164.118 41.7022Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M151.097 11.9447H68.233C67.8189 11.9447 67.4968 11.6197 67.4968 11.2019V6.9774C67.4968 6.55959 67.8189 6.23462 68.233 6.23462H151.097C151.511 6.23462 151.833 6.55959 151.833 6.9774V11.2019C151.833 11.6197 151.511 11.9447 151.097 11.9447Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.5715 11.9447H0.73616C0.32207 11.9447 0 11.6197 0 11.2019V6.9774C0 6.55959 0.32207 6.23462 0.73616 6.23462H43.6175C44.0316 6.23462 44.3537 6.55959 44.3537 6.9774V11.2019C44.3537 11.6197 43.9856 11.9447 43.5715 11.9447Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M109.642 48.3872H119.764L129.887 38.1741L140.055 48.3872H150.177L137.294 35.3887H122.525L109.642 48.3872Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0461426 61.9893H1.56448V60.643L2.89877 59.2967L5.52134 61.9429H7.36174L3.81897 58.3683L6.99366 55.2115H5.15326L1.61049 58.7861V55.2115H0.0921519V61.9893H0.0461426ZM8.9721 61.9893H10.4904L11.5487 59.8538H14.9994L16.0576 61.9893H17.576L14.2633 55.2115H12.3308L8.9721 61.9893ZM12.0088 59.0182L13.3431 56.3721L14.6773 59.0182H12.0088ZM18.8643 57.8112C18.8643 59.2039 20.1065 59.2039 21.3028 59.2039H24.9836V61.9893H26.5019V55.2115H24.9836V58.3218H21.0267C20.7047 58.3218 20.4286 58.3218 20.4286 57.9504V55.165H18.8643V57.8112ZM29.1245 61.9893H36.2561V61.1072H30.6428V58.6468H35.7039V57.7648H30.6428V56.0935H36.2561V55.2115H29.1245V61.9893ZM38.8786 60.5966C38.8786 61.9893 40.1209 61.9893 41.3172 61.9893H46.0102V61.1072H41.0411C40.719 61.1072 40.443 61.1072 40.443 60.7359V56.4185C40.443 56.0471 40.7651 56.0471 41.0411 56.0471H46.0102V55.2115H41.3172C40.0749 55.2115 38.8786 55.2115 38.8786 56.6042V60.5966ZM48.2187 56.0935H51.6694V61.9893H53.1878V56.0935H56.6385V55.2115H48.2187V56.0935ZM58.893 61.9893H64.0922C65.3344 61.9893 66.5307 61.9893 66.5307 60.5966V59.2039C66.5307 58.5075 66.0246 58.2754 65.6105 58.1826C66.0246 58.0897 66.4387 57.7648 66.4387 57.1613V56.6042C66.4387 55.2115 65.1964 55.2115 64.0001 55.2115H58.939V61.9893H58.893ZM60.4114 61.1072V58.6468H64.3682C64.6903 58.6468 64.9664 58.6468 64.9664 59.0182V60.7823C64.9664 61.1537 64.6443 61.1537 64.3682 61.1537H60.4114V61.1072ZM60.4114 57.7648V56.0935H64.2762C64.5983 56.0935 64.8743 56.0935 64.8743 56.4649V57.4398C64.8743 57.8112 64.5523 57.8112 64.2762 57.8112H60.4114V57.7648ZM69.1533 60.5966C69.1533 61.9893 70.3955 61.9893 71.5918 61.9893H74.3524C75.5947 61.9893 76.7909 61.9893 76.7909 60.5966V56.6042C76.7909 55.2115 75.5487 55.2115 74.3524 55.2115H71.5918C70.3495 55.2115 69.1533 55.2115 69.1533 56.6042V60.5966ZM70.7176 60.7359V56.4185C70.7176 56.0471 71.0397 56.0471 71.3157 56.0471H74.6745C74.9965 56.0471 75.2726 56.0471 75.2726 56.4185V60.7359C75.2726 61.1072 74.9505 61.1072 74.6745 61.1072H71.3157C70.9937 61.1072 70.7176 61.1072 70.7176 60.7359ZM85.1188 61.9893H86.7291L91.1921 56.9756V61.9893H92.7104V55.2115H91.1001L86.6371 60.2252V55.2115H85.1188V61.9893ZM101.084 61.9893H102.695L107.158 56.9756V61.9893H108.676V55.2115H107.066L102.603 60.2252V55.2115H101.084V61.9893ZM111.391 61.9893H112.909V58.6468H117.464V61.9893H118.982V55.2115H117.464V57.7648H112.909V55.2115H111.391V61.9893ZM121.651 61.9893H123.169V58.6468H127.724V61.9893H129.242V55.2115H127.724V57.7648H123.169V55.2115H121.651V61.9893ZM131.911 60.5966C131.911 61.9893 133.153 61.9893 134.35 61.9893H137.11C138.352 61.9893 139.549 61.9893 139.549 60.5966V56.6042C139.549 55.2115 138.306 55.2115 137.11 55.2115H134.35C133.107 55.2115 131.911 55.2115 131.911 56.6042V60.5966ZM133.429 60.7359V56.4185C133.429 56.0471 133.751 56.0471 134.027 56.0471H137.386C137.708 56.0471 137.984 56.0471 137.984 56.4185V60.7359C137.984 61.1072 137.662 61.1072 137.386 61.1072H134.027C133.751 61.1072 133.429 61.1072 133.429 60.7359ZM142.171 61.9893H147.37C148.613 61.9893 149.809 61.9893 149.809 60.5966V59.2039C149.809 58.5075 149.303 58.2754 148.889 58.1826C149.303 58.0897 149.717 57.7648 149.717 57.1613V56.6042C149.717 55.2115 148.475 55.2115 147.278 55.2115H142.217V61.9893H142.171ZM143.69 61.1072V58.6468H147.646C147.969 58.6468 148.245 58.6468 148.245 59.0182V60.7823C148.245 61.1537 147.922 61.1537 147.646 61.1537H143.69V61.1072ZM143.69 57.7648V56.0935H147.554C147.876 56.0935 148.153 56.0935 148.153 56.4649V57.4398C148.153 57.8112 147.83 57.8112 147.554 57.8112H143.69V57.7648ZM151.925 61.9893H153.444L154.502 59.8538H157.953L159.011 61.9893H160.529L157.171 55.2115H155.238L151.925 61.9893ZM154.916 59.0182L156.25 56.3721L157.585 59.0182H154.916ZM162.692 61.9893H170.007V63.5213H171.342V61.1072H170.329V55.2115H168.811V61.1072H164.256V55.2115H162.738V61.9893H162.692ZM173.688 61.9893H175.298L179.761 56.9756V61.9893H181.28V55.2115H179.669L175.206 60.2252V55.2115H173.688V61.9893ZM183.948 61.9893H185.559L190.022 56.9756V61.9893H191.54V55.2115H189.93L185.467 60.2252V55.2115H183.948V61.9893Z" fill="#678FB2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M157.722 11.8055H160.391V6.60612H163.428L168.627 11.8055H171.848L166.648 6.60612H166.832C168.995 6.60612 171.111 6.60612 171.111 4.1921V2.38159C171.111 -0.0324325 168.949 -0.0324312 166.832 -0.0324312H157.722V11.8055ZM160.437 5.02772V1.4067H167.385C167.937 1.4067 168.443 1.4067 168.443 2.05662V4.3778C168.443 5.02772 167.891 5.02772 167.385 5.02772H160.437ZM173.458 9.71649C173.458 11.8055 175.252 11.8055 177.047 11.8055H183.488V10.4593H176.863C176.403 10.4593 175.988 10.4593 175.988 9.90218V7.72028H183.856V5.21342C183.856 3.12436 182.062 3.12436 180.267 3.12436H177.047C175.252 3.12436 173.458 3.12436 173.458 5.21342V9.71649ZM175.942 6.374V5.02772C175.942 4.47064 176.402 4.47064 176.817 4.47064H180.405C180.865 4.47064 181.28 4.47064 181.28 5.02772V6.374H175.942ZM185.927 11.8055H188.411V4.51707H192V3.17078H188.411V1.82451C188.411 1.26743 188.871 1.26743 189.285 1.26743H191.954V-0.0788574H189.469C187.675 -0.0788574 185.881 -0.0788574 185.881 2.0102V11.8055H185.927Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_347_128">
                                <rect width="192" height="63" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <div class="logo_text">ООО "ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ" ИНН 6168094112 КПП 616801001</div>
            </div>
            <div class="footer_menu">
                <div class="col col_left">
                    <ul>
                        <li><a href="">Каталог</a></li>
                        <li><a href="">Сертификаты</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Материалы для скачивания</a></li>
                        <li><a href="">Доставка и оплата</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="col col_right">
                    <ul>
                        <li>
                            <a href="">Каталог</a>
                            <ul>
                                <li><a href="">Установки охлаждения ледовых полей</a></li>
                                <li><a href="">Установки охлаждения ледовых полей</a></li>
                                <li><a href="">Холодильные установки на СО2</a></li>
                                <li><a href="">Холодильные установки на СО2</a></li>
                                <li><a href="">Насосное и емкостное оборудование</a></li>
                                <li><a href="">Насосное и емкостное оборудование</a></li>
                                <li><a href="">Теплообменное оборудование</a></li>
                                <li><a href="">Теплообменное оборудование</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_cools cont_cools">
                <div class="contacts">
                    <div class="phone">
                        <a href="tel:8 800 550 271">8 800 550 271</a>
                    </div>
                    <a href="#" class="btn_link" >Бесплатная консультация</a>
                </div>
                <div class="email">
                    <a href="mailto:info@food-engineer.ru">info@food-engineer.ru</a>
                </div>
            </div>
            <div class="footer_cools"><div><strong>ОФИС:</strong> 344090, г. Ростов-на-Дону, ул. Малиновского, д. 46а/27 литер а, помещ. 4г (офис 25)</div></div>
            <div class="footer_cools last_cools"><div><strong>ПРОИЗВОДСТВО:</strong> г. Ростов-на-Дону Юго-Восточная Промзона, 17/1 8 (800) 550-62-71</div></div>
            <div class="copy">Все права защищены © 2011-2025.<br/><a href="#">Политика в отношении обработки данных</a></div>
        </div>
    </div>
</footer>
</div>
</body>
</html>