<footer class="footer">
    <div class="footer__inner block-width">
        <div class="footer_top">
            <div class="logo">
                <a href="">
                    <img src="img/logo-footer.png" alt="">
                </a>
                <div class="logo_text">ООО "ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ" ИНН 6168094112 КПП 616801001</div>
            </div>
            <div class="footer_menu">
                <div class="col col_left">
                    <ul>
                        <li><a href="">Каталог</a></li>
                        <li><a href="">Сертификаты</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Материалы для скачивания</a></li>
                        <li><a href="">Доставка и оплата</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="col col_right">
                    <ul>
                        <li>
                            <a href="">Каталог</a>
                            <ul>
                                <li><a href="">Установки охлаждения ледовых полей</a></li>
                                <li><a href="">Установки охлаждения ледовых полей</a></li>
                                <li><a href="">Холодильные установки на СО2</a></li>
                                <li><a href="">Холодильные установки на СО2</a></li>
                                <li><a href="">Насосное и емкостное оборудование</a></li>
                                <li><a href="">Насосное и емкостное оборудование</a></li>
                                <li><a href="">Теплообменное оборудование</a></li>
                                <li><a href="">Теплообменное оборудование</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_cools cont_cools">
                <div class="contacts">
                    <div class="phone">
                        <a href="tel:8 800 550 271">8 800 550 271</a>
                    </div>
                    <a href="#" class="btn_link" >Бесплатная консультация</a>
                </div>
                <div class="email">
                    <a href="mailto:info@food-engineer.ru">info@food-engineer.ru</a>
                </div>
            </div>
            <div class="footer_cools"><div><strong>ОФИС:</strong> 344090, г. Ростов-на-Дону, ул. Малиновского, д. 46а/27 литер а, помещ. 4г (офис 25)</div></div>
            <div class="footer_cools last_cools"><div><strong>ПРОИЗВОДСТВО:</strong> г. Ростов-на-Дону Юго-Восточная Промзона, 17/1 8 (800) 550-62-71</div></div>
            <div class="copy">Все права защищены © 2011-2025.<br/><a href="#">Политика в отношении обработки данных</a></div>
        </div>
    </div>
</footer>
</div>
</body>
</html>