<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/swiper-bundle.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<div class="menu_burger">
	<div class="menuClose"></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li class="has_list">
					<a href="#"><span>Каталог</span><i>+</i></a>
					<ul>
						<li>
							<a href="#"><span>Агрегаты компрессорные общепромышленны</span><i>+</i></a>
							<ul>
								<li>
									<a href="#"><span>Спиральные</span><i>+</i></a>
									<ul>
										<li><a href="#">Однокомпресорные</a></li>
										<li><a href="#">Двухкомпрессорные</a></li>
										<li><a href="#">Трехкомпресорные</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><span>Поршневые</span><i>+</i></a>
									<ul>
										<li><a href="#">Однокомпресорные</a></li>
										<li><a href="#">Двухкомпрессорные</a></li>
										<li><a href="#">Трехкомпресорные</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><span>Винтовые</span><i>+</i></a>
									<ul>
										<li><a href="#">Однокомпресорные</a></li>
										<li><a href="#">Двухкомпрессорные</a></li>
										<li><a href="#">Трехкомпресорные</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><span>Чилеры общепромышленные в моноблочном исполнении с водяным конденсатором</span><i>+</i></a>
							<ul>
								<li><a href="#">Моноблочные чилеры на основе спиральных компрессоров</a></li>
								<li><a href="#">Моноблочные чилеры на основе винтовых компрессоров</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span>Чилеры общепромышленные в рамном исполнении с выносным конденсатором</span><i>+</i></a>
							<ul>
								<li><a href="#">Установки охлаждения жидкости на основе спиральных компрессоров</a></li>
								<li><a href="#">Установки охлаждения жидкости на основе поршневых компрессоров</a></li>
								<li><a href="#">становки охлаждения жидкости на основе винтовых компрессоров</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span>Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором</span><i>+</i></a>
							<ul>
								<li><a href="#">Моноблочные чилеры на основе спиральных компрессоров</a></li>
								<li><a href="#">Моноблочные чилеры на основе винтовых компрессоров</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span>Установки охлаждения ледовых полей</span><i>+</i></a>
							<ul>
								<li><a href="#">Установки в контейнерном исполнении</a></li>
								<li><a href="#">Установки в рамном исполнении</a></li>
								<li><a href="#">Установки в моноблочном исполнении</a></li>
								<li><a href="#">Теплообменники ямы снеготаяния</a></li>
							</ul>
						</li>
						<li><a href="#">Холодильные установки на СО2</a></li>
						<li>
							<a href="#"><span>Насосное и емкостное оборудование</span><i>+</i></a>
							<ul>
								<li><a href="#">Насосные станции перекачивания жидкости</a></li>
								<li><a href="#">Насосно-циркуляционные станции хладагента</a></li>
								<li><a href="#">Блоки рекуперации энергии (буферные емкости)</a></li>
								<li><a href="#">Ресиверные узлы хладагента</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span>Теплообменное оборудование</span><i>+</i></a>
							<ul>
								<li><a href="#">V-образные секционные конденсаторы на микроканальных теплообменниках</a></li>
								<li><a href="#">Драйкуллеры V-образные трубчато ламельные (Сухие градирни)</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">Проектирование</a></li>
				<li><a href="#">Производство</a></li>
				<li><a href="#">Монтаж и ПНР</a></li>
				<li><a href="#">Сервис</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="email"><a href="mainto:info@food-engineer.ru">info@food-engineer.ru</a></div>
	</div>
</div>
<div class="site_wrapper">
	<header class="header">
		<div class="header__top">
			<div class="header_inner">
				<div class="search_block">
					<form action="">
						<input type="text" placeholder="Поиск">
						<button></button>
					</form>
					<div class="search_block_close"></div>
				</div>
				<div class="email"><a href="mainto:info@food-engineer.ru">info@food-engineer.ru</a></div>
				<div class="phone"><a href="tel:8 800 550 271">8 800 550 271</a></div>
				<a href="#" class="btn_link">Бесплатная консультация</a>
			</div>
		</div>
		<div class="header__middle header_inner">
			<div class="logo">
				<a href="">
					<img src="img/logo.png" alt="">
				</a>
			</div>
			<a href="#" class="search_icon"></a>
			<div class="burger"></div>
			<nav class="top_menu">
				<ul>
					<li>
						<a href="#">Каталог <i>+</i></a>
						<ul>
							<li>
								<a href="#">Агрегаты компрессорные общепромышленны</a>
								<ul>
									<li>
										<a href="#">Спиральные</a>
										<ul>
											<li><a href="#">Однокомпресорные</a></li>
											<li><a href="#">Двухкомпрессорные</a></li>
											<li><a href="#">Трехкомпресорные</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Поршневые</a>
										<ul>
											<li><a href="#">Однокомпресорные</a></li>
											<li><a href="#">Двухкомпрессорные</a></li>
											<li><a href="#">Трехкомпресорные</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Винтовые</a>
										<ul>
											<li><a href="#">Однокомпресорные</a></li>
											<li><a href="#">Двухкомпрессорные</a></li>
											<li><a href="#">Трехкомпресорные</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Чилеры общепромышленные в моноблочном исполнении с водяным конденсатором</a>
								<ul>
									<li><a href="#">Моноблочные чилеры на основе спиральных компрессоров</a></li>
									<li><a href="#">Моноблочные чилеры на основе винтовых компрессоров</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Чилеры общепромышленные в рамном исполнении с выносным конденсатором</a>
								<ul>
									<li><a href="#">Установки охлаждения жидкости на основе спиральных компрессоров</a></li>
									<li><a href="#">Установки охлаждения жидкости на основе поршневых компрессоров</a></li>
									<li><a href="#">становки охлаждения жидкости на основе винтовых компрессоров</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором</a>
								<ul>
									<li><a href="#">Моноблочные чилеры на основе спиральных компрессоров</a></li>
									<li><a href="#">Моноблочные чилеры на основе винтовых компрессоров</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Установки охлаждения ледовых полей</a>
								<ul>
									<li><a href="#">Установки в контейнерном исполнении</a></li>
									<li><a href="#">Установки в рамном исполнении</a></li>
									<li><a href="#">Установки в моноблочном исполнении</a></li>
									<li><a href="#">Теплообменники ямы снеготаяния</a></li>
								</ul>
							</li>
							<li><a href="#">Холодильные установки на СО2</a></li>
							<li>
								<a href="#">Насосное и емкостное оборудование</a>
								<ul>
									<li><a href="#">Насосные станции перекачивания жидкости</a></li>
									<li><a href="#">Насосно-циркуляционные станции хладагента</a></li>
									<li><a href="#">Блоки рекуперации энергии (буферные емкости)</a></li>
									<li><a href="#">Ресиверные узлы хладагента</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Теплообменное оборудование</a>
								<ul>
									<li><a href="#">V-образные секционные конденсаторы на микроканальных теплообменниках</a></li>
									<li><a href="#">Драйкуллеры V-образные трубчато ламельные (Сухие градирни)</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Проектирование</a></li>
					<li><a href="#">Производство</a></li>
					<li><a href="#">Монтаж и ПНР</a></li>
					<li><a href="#">Сервис</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__bot header_inner">
			<div class="head_block">
				<div class="head_block_title">Промышленные холодильные и <br/>компрессорные решения под задачи <br/>вашего производства</div>
				<div class="head_block_body">Проектирование, производство и поставка чилеров, компрессорных <br/>агрегатов и насосного оборудования</div>
				<div class="head_block_pics">
					<img src="img/head_block_pic1.png">
					<img src="img/head_block_pic2.png">
					<img src="img/head_block_pic3.png">
				</div>
			</div>
			<div class="head_block2">
				<div class="head_block2_top">
					<img src="img/head_block2_pic.png">
					<div class="head_block2_text">+  Под конкретные ТЗ<br/>+  Энергоэффективные решения<br/>+  Сервис и сопровождение</div>
				</div>
				<div class="head_block2_bot">
					<a href="#">Подобрать оборудование</a>
					<a href="#">Скачать каталог</a>
				</div>
			</div>
		</div>
	</header>