include _header.jade
<div class="site-container block-width">
	<div class="site-container__inner">
		<div class="site-container__inner__right no-left-col">
			<section class="catalog-block">
				<div class="catalog-block__title">Сделано в <span>России</span></div>
				<div class="catalog-block__inner">
					<div class="catalog-block__title2">Каталог</div>
					<div class="catalog-block__slider">
						<div class="slider-wrapper swiper" id="swiper-slider">
							<div class="swiper-wrapper">
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic1.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Агрегаты компрессорные общепромышленные 1</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic2.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в рамном исполнении с выносным конденсатором 1</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic3.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором 1</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic4.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Установки охлаждения ледовых полей 1</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic1.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Агрегаты компрессорные общепромышленные 2</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic2.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в рамном исполнении с выносным конденсатором 2</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic3.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором 2</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic4.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Установки охлаждения ледовых полей 2</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic1.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Агрегаты компрессорные общепромышленные 3</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic2.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в рамном исполнении с выносным конденсатором 3</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic3.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором 3</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic4.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Установки охлаждения ледовых полей 3</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic1.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Агрегаты компрессорные общепромышленные 4</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic2.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в рамном исполнении с выносным конденсатором 4</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic3.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Чилеры общепромышленные в моноблочном исполнении с воздушным конденсатором 4</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
								<div class="catalog-item-in">
									<div class="catalog-item-pic"><img src="img/catalog-item-pic4.png"></div>
									<div class="catalog-item-text">
										<div class="catalog-item-title">Установки охлаждения ледовых полей 4</div>
										<div class="catalog-item-more"><a href="#">подробнее</a></div>
									</div>
									<a href="#" class="catalog-item-link"></a>
								</div>
							</div>
						</div>
						<div class="slider-controls">
							<div class="swiper-button-prev">
								<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="0.5" y="0.5" width="67" height="67" rx="33.5" stroke="white" stroke-opacity="0.52"/>
									<path d="M39 24L28.747 34.253L38.4999 44.0059" stroke="#8A9AA8"/>
								</svg>
							</div>
							<div class="swiper-button-next">
								<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="67.5" y="67.5" width="67" height="67" rx="33.5" transform="rotate(-180 67.5 67.5)" stroke="white" stroke-opacity="0.52"/>
									<path d="M31 44L41.253 33.747L31.5002 23.9941" stroke="#8A9AA8"/>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="tabs-block">
				<div class="tabs-block__title">Мы не просто продаём оборудование</div>
				<div class="tabs-block__inner">
					<div class="tabs-block-leftcol">
						<div class="items active">
							<div class="items_title">Инженерный подход, а не складская продажа</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 111</div>
						</div>
						<div class="items">
							<div class="items_title">Подбор под реальные режимы работы</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 222</div>
						</div>
						<div class="items">
							<div class="items_title">ндивидуальные конфигурации (1–3 компрессора, типы хладагентов)</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 333</div>
						</div>
						<div class="items">
							<div class="items_title">Опыт сложных промышленных объектов</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 444</div>
						</div>
						<div class="items">
							<div class="items_title">Энергоэффективность и рекуперация</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 555</div>
						</div>
						<div class="items">
							<div class="items_title">Поддержка на этапе эксплуатации</div>
							<div class="items_text"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 666</div>
						</div>
					</div>
					<div class="tabs-block-rightcol">
						<div class="items active"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 111</div>
						<div class="items"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 222</div>
						<div class="items"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 333</div>
						<div class="items"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 444</div>
						<div class="items"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 555</div>
						<div class="items"><img src="img/tabs_block_pic.png"><br/>Динамично растущая компания. Мы держим курс на повышение качества обслуживания и расширение спектра услуг. Наша компания имеет устойчивые контакты с крупнейшими поставщиками специализированного оборудования и является дистрибьютором многих из них. Основным принципом работы компании является комплексный подход: от проектирования объекта и оборудования, до монтажа и дальнейшего сервисного обслуживания объекта. 666</div>
					</div>
				</div>
			</section>
			<section class="edit-block">
				<div class="edit-block__title">Отраслевые решения</div>
				<div class="edit-block__inner">
					<a href="#" class="item">
						<div class="pic"><img src="img/edit_block_pic1.png"></div>
						<div class="text">Пищевая промышленность</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/edit_block_pic2.png"></div>
						<div class="text">Производственные линии</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/edit_block_pic3.png"></div>
						<div class="text">Ледовые арены</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/edit_block_pic4.png"></div>
						<div class="text">Логистика и склады</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/edit_block_pic5.png"></div>
						<div class="text">Промышленное охлаждение процессов</div>
					</a>
				</div>
			</section>
			<section class="service-block">
				<div class="service-block__title">Услуги</div>
				<div class="service-block__inner">
					<a href="#" class="item">
						<div class="pic"><img src="img/service_block_pic1.png"></div>
						<div class="text">Название услуги 1</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/service_block_pic2.png"></div>
						<div class="text">Название услуги 1</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/service_block_pic3.png"></div>
						<div class="text">Название услуги 1</div>
					</a>
					<a href="#" class="item">
						<div class="pic"><img src="img/service_block_pic4.png"></div>
						<div class="text">Название услуги 1</div>
					</a>
				</div>
			</section>
			<div class="form-block">
				<div class="form-block__title">Обсудить проект <br/>Подберите решение</div>
				<div class="form-block__inner">
					<form action="#">
						<div class="tpl-field type-text required">
							<div class="field-value">
								<input type="text" size="30" maxlength="100" value="" name="d[0]" placeholder="Ваше имя">
							</div>
						</div>
						<div class="tpl-field type-select required">
							<div class="field-value">
								<select id="city" name="city">
									<option value="moscow" selected>Товар</option>
									<option value="spb">Товар 2</option>
									<option value="kazan">Товар 3</option>
								</select>
							</div>
						</div>
						<div class="tpl-field type-phone required">
							<div class="field-value">
								<input type="text" size="30" maxlength="100" value="" name="d[1]" placeholder="Ваш телефон">
							</div>
						</div>
						<div class="tpl-field tpl-field-button">
							<button type="submit" class="tpl-form-button">Отправить заявку</button>
						</div>
						<div class="tpl-field type-policity required no_checked">
							<label>
								<input type="checkbox">
								<i></i>
								<span>Даю согласие на обработку <a href="#">Персональных данных</a></span>
							</label>
						</div>
					</form>
				</div>
			</div>
			<section class="news-block">
				<div class="news-block__title">Блог</div>
				<div class="news-block__inner">
					<div class="item">
						<div class="pic"><a href="#"><img src="img/news_block_pic1.png"></a></div>
						<div class="date">10.12.2025</div>
						<div class="title"><a href="#">Заголовок новости более чем на одну строчку</a></div>
						<div class="text">Разработаем под требуемые технические характеристики и спецификации</div>
					</div>
					<div class="item">
						<div class="pic"><a href="#"><img src="img/news_block_pic2.png"></a></div>
						<div class="date">10.12.2025</div>
						<div class="title"><a href="#">Заголовок новости более чем на одну строчку</a></div>
						<div class="text">Разработаем под требуемые технические характеристики и спецификации</div>
					</div>
					<div class="item">
						<div class="pic"><a href="#"><img src="img/news_block_pic3.png"></a></div>
						<div class="date">10.12.2025</div>
						<div class="title"><a href="#">Заголовок новости более чем на одну строчку</a></div>
						<div class="text">Разработаем под требуемые технические характеристики и спецификации</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="map-block">
	<div class="map-block__title block-width">Сервисные партнеры</div>
	<div class="map-block__inner">
		<div id="map" style="width: 100%; height: 647px;"></div>
	</div>
</div>
include _footer.jade